<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".KixyuBookApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        tools:targetApi="33"
        android:theme="@style/Theme.Kixyubook">
        <!-- Xiaomi/HyperOS large-screen capability marker. The app still bases every layout
             decision on the actual window bounds, including multi-window and cross-device. -->
        <meta-data
            android:name="embedded"
            android:value="true" />
        <!-- HyperOS workstation / continuous freeform window. Mode 1 allows both axes to resize. -->
        <property
            android:name="miui.window.CVW_ENABLED"
            android:value="true"
            tools:targetApi="31" />
        <property
            android:name="miui.window.CVW_MODE"
            android:value="1"
            tools:targetApi="31" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".update.AppUpdateDownloadReceiver"
            android:exported="true"
            android:permission="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>
    </application>
</manifest>
